@keyframes progress-bar-animation {
    from {background-position: 0}
    to {background-position:100%;}
}

.progress-bar{
    position: fixed;
    top: 0;
    left: 40%;
    border-radius: 10px;
    border: 2px solid;
    padding: 5px;
    background-color: #e8e818;
    background: linear-gradient(90deg, yellow, #ffb4b4, yellow);
    color: brown;
    background-size: 20% 100%;

    animation-name: progress-bar-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.search-container{
    height: 50px;
}
.resultNextPage{
    float:right;
}

.list-container {
    float:left;
    width: 50%;
    list-style: none;
    padding-left: 10px;
}
.list-container li{
    border-bottom:1px solid black;
    padding-bottom: 5px;
    padding-right: 20px;
}
.list-container li:hover, .list-container .active{
    background-color: #fbfbfb;
    background-image: url(icons/arrow_right.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 100% 50%;
}
.content {
    float: right;
    width: 40%;
    padding: 10px;
}


.star_on, .star_off{
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(icons/star_on.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.star_off{
    background-image: url(icons/star_off.png);
}

.search-input{
    font-size: 1.3em; 
    width:50%;
    border-radius: 10px 0 0 10px;
}
.search-button{
    font-size: 1.2em;
    border-radius: 0 10px 10px 0;
    background: linear-gradient(90deg, blue, lightblue, blue);
    color: white;
}